<div class="container1">
    <p>1. Show list of 2000 Items with images, fetch items from API (shared), no click, no search, no sort required,
      List should load quickly and scroll should be smooth</p>
      <button class="button" [routerLink]="['apicall']">Click Here To See Answer</button>
    
    
      <p>2. Build a ATM system where you can deposit and withdraw money as per Indian denominations.</p>
      <button class="button" [routerLink]="['atm']">Click Here To See Answer</button>
      </div>
    